:root {
  --main-bg-color: #dddddd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.linkbtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 10px;
}

td {
  border: 1px solid var(--main-bg-color);
}

tr:nth-child(even) {
  background-color: var(--main-bg-color);
}

@media screen and (max-width: 908px) {
  .form-wrapper {
    width: 60% !important
  }
}

@media screen and (max-width: 627px) {
  .form-wrapper {
    width: 80% !important
  }
}

@media screen and (max-width: 448px) {
  .form-wrapper {
    width: 90% !important
  }
}